
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container-sm1 {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: #A4A4A4;
    border-radius: 8px;
}

.pesquisar {
    border-radius: 6px;
    border: 1px solid #0097B2;
}

.container-sm1 h1 {
    font-size: 18px;
    margin-bottom: 2rem;
    color: #FFF;
}

.container-sm1 i {
    width: 22px;
    height: 22px;
    margin-bottom: 2px;
}

.container-sm1 span {
    font-size: 16px;
    color: #FFF;
}

.message span {
    align-items: center;
    color: #000;
}

.image img {
    width: 600px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.bi-justify {
    color: #0097B2;
}

.small-image {
    width: 45px; 
    height: 45px; 
}